/*
Syntax error: Undefined mixin 'border-radius'.
        on line 5 of css/sass/_code.scss, in `border-radius'
        from line 5 of css/sass/_code.scss
        from line 7 of css/sass/styles.scss

1: @import 'bourbon/bourbon';
2: @import 'normalize';
3: @import 'variables';
4: @import 'mixins';
5: @import 'grid';
6: @import 'type';
7: @import 'code';
8: @import 'global';

Backtrace:
css/sass/_code.scss:5:in `border-radius'
css/sass/_code.scss:5
css/sass/styles.scss:7
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/root_node.rb:20:in `render'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/engine.rb:315:in `_render'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/engine.rb:262:in `render'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:201:in `each'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `call'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `on_change'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/steve/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'border-radius'.\A         on line 5 of css/sass/_code.scss, in `border-radius'\A         from line 5 of css/sass/_code.scss\A         from line 7 of css/sass/styles.scss\A \A 1: @import 'bourbon/bourbon';\A 2: @import 'normalize';\A 3: @import 'variables';\A 4: @import 'mixins';\A 5: @import 'grid';\A 6: @import 'type';\A 7: @import 'code';\A 8: @import 'global';"; }
