* {
	padding: 0;
	margin: 0;
}
html {
	height: 100%;
}
body {
	height: 100%;
	background: url('../images/bluebar-bg.png') top center repeat-x;
}
#container {
	margin: 0 auto;
	width: 1007px;
	height: 100%;
	background: url('../images/fb-background.png') top center no-repeat;
}
#contentColumn {
	width: 807px;
	margin-top: 117px;
	float: right;
}
#navColumn {
	margin-top: 413px;
	width: 179px;
	float: left;
}
#navColumn ul {
	margin-bottom: 20px;
}
#navColumn li {
	list-style-type: none;
	background: url('../images/icon.png') 6px 2px no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	height: 20px;
	padding-left: 27px;
	margin-bottom: 3px;
	display: block;
	color: #3333333;
}
#navColumn li a {
	text-decoration: none;
	color: #333333;
}
#navColumn li a:hover {
	text-decoration: underline;
}
#navColumn li:hover {
	font-weight: bold;
	background-color: #d8dfea;
}
#navColumn li:active {
	font-weight: bold;
	background-color: #d8dfea;
}
iframe {
	width:520px; 
	height:800px; 
}