/* Code Styles ================================================================================== */
code,
pre {
  direction: ltr;
  font-family: $code-font-family;
  font-size: #{$modular-scale-down1}em;
  overflow: auto;
  text-align: left;
  text-shadow: none;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre {
  display: block;
  overflow-x: auto;

  &.scrollable {
    max-height: 20em;
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    height: 0;
    opacity: 0.5;
  }
}