/* Type Styles ================================================================================== */

body {
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $modular-scale-up4;
  font-style: normal;
  font-weight: light;
  font-weight: 300;
}

p, ul, ol {
  font-size: #{$modular-scale-down2}rem;
  line-height: $modular-scale-up2;
  margin: 0 0 #{$modular-scale-up2}em 0;
  width: 100%;
}

strong { font-weight: bold; font-weight: 700; }
em { font-style: italic; }
cite { font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-weight: 700;
}

h1 { font-size: #{$modular-scale-up6}rem; }

.page-title {
  font-size: #{$modular-scale-up4}rem;
  line-height: $modular-scale-up1;
}

h2, .title {
  font-size: #{$modular-scale-up2}rem;
  line-height: $modular-scale-up2;

  .source {
    font-size: #{$modular-scale-down2}rem;
    display: block;
  }
}

h3 {
  font-size: #{$modular-scale-base}rem;
  line-height: #{$modular-scale-up3}rem;
  margin-bottom: #{$modular-scale-down2}rem;
}

h4 {
  font-size: #{$modular-scale-down2}rem;
  line-height: #{$modular-scale-base}rem;
  margin-bottom: #{$modular-scale-down2}rem;
}

ul, ol {
  padding: 0;
  margin: 0 0 #{$modular-scale-up4}em 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: $modular-scale-up2;
  margin-bottom: #{$modular-scale-down3}rem;
}

.bulleted-list li, .ordered-list li {
  margin-left: 1em;
}

@media (min-width: 500px) {

  p, ul, ol {
    font-size: #{$modular-scale-base}rem;
    line-height: $modular-scale-up3;
    margin: 0 0 #{$modular-scale-up3}em 0;
  }

  h1 { font-size: #{$modular-scale-up7}rem; }

  .page-title { font-size: #{$modular-scale-up7}rem; }

  h2, .title { font-size: #{$modular-scale-up3}rem; }

  h3 { font-size: #{$modular-scale-up2}rem; }

  h4 { font-size: #{$modular-scale-base}rem; }
}

@media (min-width: 700px) {
  p,
  ul,
  ol {
    max-width: columns(6);
  }
}
