/* @font-face =================================================================================== */


/* Type Styles ================================================================================== */

@mixin body-font-styles { // keep body specific type styles in the type stylesheet
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;
  font-style: normal;
  font-weight: normal;
  font-weight: 400;
}

p {
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0 0 #{$vertical-measure}em 0;
}

strong { font-weight: bold; font-weight: 700; }
em { font-style: italic; }
cite { font-style: normal; }

.section-link {
  opacity: 0.25;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-weight: 700;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: #{$modular-scale-up8}rem;
}

h2 {
  font-size: #{$modular-scale-up6}rem;
}

h3, h3.title {
  font-size: #{$modular-scale-up4}rem;

  .source {
    font-size: #{$modular-scale-base}rem;;
    display: block;
  }
}

h4 {
  font-size: #{$modular-scale-up2}rem;
}

h5 {
  font-size: #{$modular-scale-base}rem;
}

ul, ol {
  padding: 0;
  margin: 0 0 #{$vertical-measure}em 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: $base-line-height;
}