/* Import modules =============================================================================== */
@import 'modules/normalize';
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/grid';
@import 'modules/type';
@import 'modules/code';

/* Global Styles ================================================================================ */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: darken($dark, 8%); // fakes footer getting taller for short pages
}

main { background-color: $lightest; } // restores normal background color for page

.container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Global Header
================================================================================ */
.global-banner {
  box-shadow: rgba($dark, 0.2) 0 2px 8px;
  background-color: $lightest;
  padding: 2% 0 2% 0;
  position: relative; z-index: 2; // make sure header shadow is over module below it

  h1 {
    font-size: #{$modular-scale-up2}rem;
    line-height: $modular-scale-up1;
    text-decoration: none;
    margin-bottom: 0;

    a {
      background-image: none;

      &:hover {
        background-image: linear-gradient(to bottom, transparent 65%, $light 65%, $light 95%, transparent 95%);
      }
    }
  }
}

.global-nav {
  ul {
    list-style-type: none;
    margin: 0;
    margin-left: -0.5rem;
    max-width: 100%;
  }

  li {
    display: inline-block;
    margin: 0 0.25rem;
    font-size: #{$modular-scale-down3}rem;
  }

  a {
    display: inline-block;
    line-height: 1.5;
    padding: 0 0.25rem;
    margin-bottom: 0.25rem;
    background-image: linear-gradient(to bottom, transparent 60%, $light 60%, $light 80%, transparent 80%);

    &:hover {
      background-image: linear-gradient(to bottom, transparent 55%, $light 55%, $light 85%, transparent 85%);
    }
  }
}

@media (min-width: 500px) {
  .global-banner {

    h1 { font-size: #{$modular-scale-up3}rem; }

    .global-nav {
      li { font-size: #{$modular-scale-down2}rem; }
    }
  }
}

/* Global Footer
================================================================================ */
.global-footer {
  padding: 2% 0;
  background: $dark;
  background: $dark-gradient;
  box-shadow: inset darken($dark, 50%) 0 4px 8px -2px;
  color: $lightest;

  p {
    margin: 0;
    font-size: #{$modular-scale-down2}rem;
    line-height: $modular-scale-up3;
    width: 100%;
  }

  a {
    background-image: linear-gradient(to bottom, transparent 70%, rgba($lightest, 0.6) 70%, rgba($lightest, 0.6) 90%, transparent 90%);

    &:hover {
      background-image: linear-gradient(to bottom, transparent 65%, rgba($lightest, 0.8) 65%, rgba($lightest, 0.8) 95%, transparent 95%);
    }
  }
}


/* Home Page
================================================================================ */
.intro {

  .container {
    padding-top: 3%;
    padding-bottom: 65%;
    background-image: url("../img/bio-photo.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 70%;

    p {
      margin: 0;
      max-width: 100%;
    }
  }
}

@media (min-width: 650px) {

  .home .global-banner {
    margin-bottom: -3%; // create overlap of header on image
  }

  .intro {

    .container {
      padding-top: 10%;
      padding-bottom: 10%;
      padding-right: 30%;
      background-size: 40%;
      background-position: right bottom;
    }
  }
}

.about-me,
.contact {
  padding: 4% 0 3% 0;
}

.about-me {
  background: $light;
  background: $light-gradient;
  box-shadow:
    inset rgba($dark, 0.1) 0 2px 8px,
    inset rgba($dark, 0.2) 0 -2px 8px;

  a {
    background-image: linear-gradient(to bottom, transparent 70%, rgba($lightest, 0.75) 70%, rgba($lightest, 0.75) 90%, transparent 90%);

    &:hover {
      background-image: linear-gradient(to bottom, transparent 70%, $lightest 70%, $lightest 90%, transparent 90%);
    }
  }
}

.contact {
  ul {
    list-style-type: none;
  }
}

@media (min-width: 900px) {
  .intro .container {
    padding-right: 400px;
  }
}


/* Page Header
================================================================================ */
.page-header {
  background: $light;
  background: $light-gradient;
  padding-top: 3%;
  padding-bottom: 4%;
  box-shadow: inset rgba($dark, 0.2) 0 -2px 8px;

  p:last-child {
    margin: 0;
  }
}


/* Page Content
================================================================================ */
.page-content {
  padding-top: 4%;
  padding-bottom: 4%;
}

.descriptions {
  list-style-type: none;

  p {
    margin: 0;
  }

  li {
    margin-bottom: #{$modular-scale-up4}rem;
  }
}

figure {
  margin: 0 0 #{$modular-scale-up4}rem 0;
  box-shadow: rgba($dark, 0.2) 0 2px 8px;

  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  figcaption {
    padding: 1rem;

    p {
      margin: 0;
      font-size: #{$modular-scale-down2}rem;
    }
  }
}

pre {
  margin: 0 0 #{$modular-scale-up4}rem 0;
  box-shadow: rgba($dark, 0.23) 0 2px 8px;
  padding: 0.5rem 1rem;
}


/* Experience Page
================================================================================ */
.experience section li {
  font-size: #{$modular-scale-down2}rem;
}

.experience-section-title {
  font-size: #{$modular-scale-down2}rem;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  margin-bottom: #{$modular-scale-down1}rem;
  border-bottom: 2px solid $dark-blue;
}

@media (min-width: 500px) {
  .experience section li {
    font-size: #{$modular-scale-down1}rem;
  }
  .experience-section-title {
    font-size: #{$modular-scale-down1}rem;
  }
}
