/* Import modules =============================================================================== */
@import 'modules/normalize';
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/grid';
@import 'modules/type';
@import 'modules/code';

/* Global Styles ================================================================================ */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Global Header
================================================================================ */
.global-banner {
  box-shadow: rgba($dark-blue, 0.2) 0 2px 8px;
  background-color: $lightest;
  padding: 2% 0 3% 0;
  position: relative; z-index: 2; // make sure header shadow is over module below it

  h1 {
    font-size: #{$modular-scale-up5}rem;
    line-height: $modular-scale-up1;
    text-decoration: none;
    margin-bottom: 0.5rem;

    a {
      border-bottom-color: transparent;

      &:hover {
        border-bottom-color: $dark-blue;
      }
    }
  }
}

.global-nav {
  ul {
    list-style-type: none;
    margin: 0;
    max-width: 100%;
    line-height: 1.5;
  }

  li {
    display: inline-block;
    margin: 0 1rem 0 0;
    font-weight: bold;
    font-weight: 700;
    font-size: #{$modular-scale-down2}rem;
  }
}

@media (min-width: 500px) {
  .global-banner {
    h1 { font-size: #{$modular-scale-up6}rem; }
  }
}

/* Global Footer
================================================================================ */
.global-footer {
  padding: 2% 0;
  background: $dark-blue;
  background: $dark-gradient;
  box-shadow: inset darken($dark-blue, 50%) 0 2px 8px;
  color: $lightest;

  p {
    margin: 0;
    font-size: #{$modular-scale-down2}rem;
    line-height: $modular-scale-up3;
    width: 100%;
  }

  a {
    border-color: rgba($lightest, 0.2);

    &:hover {
      border-color: $lightest;
    }
  }
}


/* Home Page
================================================================================ */
.intro {

  .container {
    padding-top: 3%;
    padding-bottom: 65%;
    background-image: url("../img/bio-photo.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 70%;

    p {
      margin: 0;
    }
  }
}

@media (min-width: 650px) {

  .home .global-banner {
    margin-bottom: -3%; // create overlap of header on image
  }

  .intro {

    p {
      max-width: columns(5);
    }

    .container {
      padding-top: 10%;
      padding-bottom: 10%;
      background-size: 40%;
      background-position: right bottom;
    }
  }
}

.about-me,
.contact {
  padding: 4% 0 3% 0;
}

.about-me {
  background: $light-green;
  background: $light-gradient;
  box-shadow:
    inset rgba($dark-blue, 0.1) 0 2px 8px,
    inset rgba($dark-blue, 0.2) 0 -2px 8px;

  a {
    border-color: rgba($lightest, 0.2);

    &:hover {
      border-color: $lightest;
    }
  }
}

.contact {
  ul {
    list-style-type: none;
  }
}


/* Page Header
================================================================================ */
.page-header {
  background: $light-green;
  background: $light-gradient;
  padding-top: 2%;
  padding-bottom: 2rem;
  box-shadow: inset rgba($dark-blue, 0.2) 0 -2px 8px;

  p {
    margin: 0;
  }
}


/* Page Content
================================================================================ */
.page-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.descriptions {
  list-style-type: none;

  p {
    margin: 0;
  }

  li {
    margin-bottom: #{$modular-scale-up4}rem;
  }
}

figure {
  margin: 0 0 #{$modular-scale-up4}rem 0;
  box-shadow: rgba($dark-blue, 0.2) 0 2px 8px;

  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  figcaption {
    padding: 1rem;

    p {
      margin: 0;
      font-size: #{$modular-scale-down2}rem;
    }
  }
}

pre {
  margin: 0 0 #{$modular-scale-up4}rem 0;
  box-shadow: rgba($dark-blue, 0.23) 0 2px 8px;
  padding: 0.5rem 1rem;
}