@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
#container { margin: 0 auto; width: 520px; height: 670px; background: url(Embroidery-bg.jpg) no-repeat;}
img { border: none;}
#quote { padding: 59px 116px 0px 175px;}
#offer { padding: 42px 16px 0px 363px;}
#cta { padding: 7px 10px 0px 308px;}
#text { padding: 86px 20px 0px 276px; font: 12px/17px Arial, Helvetica, sans-serif; color: #FFFFFF;}
#text a { color: #ffe513; text-decoration: underline;}