* {
	margin: 0;
	padding: 0;
}
#container {
	margin: 0px auto;
	font: 11px/18px Arial, Helvetica, sans-serif;
	height: 514px;
	width: 514px;
	padding: 3px;
	background: url('Deals-bg.png') no-repeat;
}
#leftColumn {
	width: 157px;
	height: 361px;
	float: left;
}
#rightColumn {
	width: 355px;
	height: 361px;
	float: right;
}
#companyDescription {
	margin-top: 4px;
	color: #000000;
	padding: 2px 6px 0px 6px;
	text-align: justify;
}
#companyDescription p {
	margin-top: 4px;
}
#bottom {
	clear: both;
	width: inherit;
}
#productColumn {
	width: 246px;
	padding: 3px 0px 0px 4px;
	float: left;
}
#productColumn a {
	line-height: 36px;
	float: left;
	display: block;
	height: 36px;
	padding-left: 32px;
}
.website {
	background: url('website-icon.png') no-repeat left 7px;
}
.email-marketing {
	background: url('email-marketing-icon.png') no-repeat left 7px;
}
.online-search-profile {
	background: url('online-search-profile-icon.png') no-repeat left 7px;
}
.get-all-3 {
	background: url('get-all-3-icon.png') no-repeat left 7px;
}
#productColumn a.get-all-3 {
	padding-left: 107px;
}
#socialMediaColumn {
	width: 242px;
	padding: 8px 0px 0px 16px;
	float: right;
}
#socialMediaColumn a {
	display: block;
	float: left;
	height: 27px;
	line-height: 27px;
	padding-left: 23px;
}
.email-list {
	background: url('email-list-icon.png') no-repeat left 5px;
}
.twitter {
	background: url('twitter-icon.png') no-repeat left 5px;
}
.micro-biz {
	background: url('micro-biz-icon.png') no-repeat left 5px;
}
.flickr {
	background: url('flickr-icon.png') no-repeat left 5px;
}
.youtube {
	background: url('youtube-icon.png') no-repeat left 5px;
}
img {
	border: 0px;
}
a, .phone-number {
	font-weight: bold;
	color: #00539F;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}