* {
	margin: 0;
	padding: 0;
}
#container {
	margin: 0px auto;
	height: 635px;
	width: 520px;
	background: #FFFFFF;
	position: relative;
}
#arrow {
	position: absolute;
	background: url('red-arrow.png') no-repeat;
	width: 40px;
	height: 40px;
	z-index: 0;
	top: 0px;
	left: 115px;
}
#like-us-now {
	position: absolute;
	background: url('like-us-now.png') no-repeat;
	width: 310px;
	height: 106px;
	z-index: 7;
	top: 47px;
	left: 28px;
}
#what-are-you-waiting-for {
	position: absolute;
	background: url('what-are-you-waiting-for-half.png') no-repeat;
	width: 270px;
	height: 86px;
	z-index: 6;
	top: 146px;
	left: 147px;
}
#what-are-you-waiting-for:hover {
	z-index: 8;
	background: url('what-are-you-waiting-for.png') no-repeat;
}
#mentioned-great-deals {
	position: absolute;
	background: url('mentioned-great-deals-half.png') no-repeat;
	width: 197px;
	height: 106px;
	z-index: 5;
	top: 199px;
	left: 46px;
}
#mentioned-great-deals:hover {
	z-index: 8;
	background: url('mentioned-great-deals.png') no-repeat;
}
#get-inspiration {
	position: absolute;
	background: url('get-inspiration-half.png') no-repeat;
	width: 259px;
	height: 106px;
	z-index: 4;
	top: 249px;
	left: 229px;
}
#get-inspiration:hover {
	z-index: 8;
	background: url('get-inspiration.png') no-repeat;
}
#chat-with-other {
	position: absolute;
	background: url('chat-with-other-half.png') no-repeat;
	width: 190px;
	height: 106px;
	z-index: 3;
	top: 322px;
	left: 89px;
}
#chat-with-other:hover {
	z-index: 8;
	background: url('chat-with-other.png') no-repeat;
}
#get-amazing-deals {
	position: absolute;
	background: url('get-amazing-deals-half.png') no-repeat;
	width: 240px;
	height: 83px;
	z-index: 2;
	top: 395px;
	left: 192px;
}
#get-amazing-deals:hover {
	z-index: 8;
	background: url('get-amazing-deals.png') no-repeat;
}
img {
	border: none;
}
a img {
	position: absolute;
	z-index: 10;
	display: none;
}