/* ========== Variables ========== */
$main-color-dark: #0c4066;	  //shadow blue
$main-color: #14517d;		      //dark blue
$main-color-mid: #1f6292;	    //mid blue
$main-color-alt: #2b74a8;	    //light blue
$text-shadow: #dbdbdb;		    //very light gray
