/* Type Styles ================================================================================== */

html { -webkit-font-smoothing: antialiased; }

@mixin body-font-styles { // keep body specific type styles in the type stylesheep
  color: $text;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;
  font-style: normal;
  font-weight: normal;
  font-weight: 400;
  text-shadow: 0 1px 1px $text-shadow;
}

p {
  font-size: 1em;
  line-height: $base-line-height;
  margin: 0 0 $vertical-measure 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

a {
  color: $primary;
  font-weight: bold;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: $heading-font-family;
  font-weight: bold;
  font-weight: 700;
  line-height: 1;
  color: $primary;
  text-rendering: optimizelegibility; // Fix the character spacing for headings

  a { text-decoration: none; }
  a:hover { text-decoration: underline; }
}

h1 {
  font-size: 2.618em;
  margin: 0.625em 0 0.5em 0;
}

h2 {
  font-size: 2.225em;
  margin: 0.875em 0 0.615em 0;
}

h3 {
  font-size: 1.618em;
  margin: 1.5em 0 0.085em 0;
}

h4 {
  color: $darkest;
  font-size: 1.375em;
  margin: 1.91em 0 0.1em 0;
}

h5 {
  color: $darkest;
  font-size: 1em;
  margin: 2.925em 0 0.2em 0;
}

h6 {
  color: $darkest;
  font-size: 0.85em;
  margin: 3.675em 0 0.2em 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

ul, ol {
  padding: 0;
  margin: 0 0 $base-line-height 1em;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: $base-line-height;
}

hr {
  margin: $base-line-height 0;
  border: 0;
  border-top: 1px solid $primary;
  border-bottom: 1px solid $lightest;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $gray20;
}

blockquote {
  padding: 0 0 0 1em;
  margin: 0 0 $base-line-height;
  border-left: 4px solid $primary;

  p { margin-bottom: 0; }

  small {
    display: block;
    line-height: $base-line-height;
    color: $text;
    &:before {
      content: '\2014 \00A0';
    }
  }
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

address {
  display: block;
  margin-bottom: $base-line-height;
  font-style: normal;
  line-height: $base-line-height;
}