// Variables ===================================================================================== /

// White - Grays - Black
$black:                       hsl(0, 0%, 0%);
$gray90:                      hsl(0, 0%, 10%);
$gray80:                      hsl(0, 0%, 20%);
$gray70:                      hsl(0, 0%, 30%);
$gray60:                      hsl(0, 0%, 40%);
$gray50:                      hsl(0, 0%, 50%);
$gray40:                      hsl(0, 0%, 60%);
$gray30:                      hsl(0, 0%, 70%);
$gray20:                      hsl(0, 0%, 80%);
$gray10:                      hsl(0, 0%, 90%);
$white:                       hsl(0, 0%, 100%);

// Accent colors
$blue:                        #14517d;

// Color scheme
$primary:                     $blue;
$text-shadow:                 $white;
$lightest:                    $white;
$darkest:                     $black;
$background:                  $gray10;
$text:                        $gray80;

// Type Variables
$regular-font-family:         "SourceSansProRegular", sans-serif;
$italic-font-family:          "SourceSansProItalic", sans-serif;
$bold-font-family:            "SourceSansProBold", sans-serif;
$bold-italic-font-family:     "SourceSansProBoldItalic", sans-serif;
$light-font-family:           "SourceSansProLight", sans-serif;
$light-italic-font-family:    "SourceSansProLightItalic", sans-serif;
$base-font-size:              1em;
$base-line-height:            1.5;
$vertical-measure:            1.5em;