/* ========== Variables ========== */

// Grayscale
$white:                       #fff;
$gray05:                      #f2f2f2;
$gray10:                      #e5e5e5;
$gray15:                      #d9d9d9;
$gray20:                      #ccc;
$gray25:                      #bfbfbf;
$gray30:                      #b2b2b2;
$gray35:                      #a6a6a6;
$gray40:                      #999;
$gray45:                      #8c8c8c;
$gray50:                      #7f7f7f;
$gray55:                      #737373;
$gray60:                      #666;
$gray65:                      #595959;
$gray70:                      #4c4c4c;
$gray75:                      #404040;
$gray80:                      #333;
$gray85:                      #262626;
$gray90:                      #191919;
$gray95:                      #0d0d0d;
$black:                       #000;

// Accent colors
$blue:                        #14517d;
$light-gray:                  #dbdbdb;

// Color scheme
$primary:                     $blue;
$text-shadow:                 $white;
$lightest:                    $white;
$darkest:                     $black;
$background:                  $gray10;
$text:                        $gray80;