article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

button,
input {
  line-height: normal; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Type Styles ================================================================================== */
p {
  font-size: 1em;
  line-height: 1.375;
  margin: 0 0 1.375em 0; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

cite {
  font-style: normal; }

a {
  color: #14517d;
  font-weight: bold;
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "source-sans-pro", source-sans-pro, sans-serif;
  font-weight: bold;
  font-weight: 700;
  line-height: 1;
  color: #14517d;
  text-rendering: optimizelegibility; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    text-decoration: underline; }

h1 {
  font-size: 2.618em;
  margin: 0.625em 0 0.5em 0; }

h2 {
  font-size: 2.225em;
  margin: 0.875em 0 0.615em 0; }

h3 {
  font-size: 1.618em;
  margin: 1.5em 0 0.085em 0; }

h4 {
  color: black;
  font-size: 1.375em;
  margin: 1.91em 0 0.1em 0; }

h5 {
  color: black;
  font-size: 1em;
  margin: 2.925em 0 0.2em 0; }

h6 {
  color: black;
  font-size: 0.85em;
  margin: 3.675em 0 0.2em 0;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

ul, ol {
  padding: 0;
  margin: 0 0 1.375 1em; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

li {
  line-height: 1.375; }

hr {
  margin: 1.375 0;
  border: 0;
  border-top: 1px solid #14517d;
  border-bottom: 1px solid white; }

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #cccccc; }

blockquote {
  padding: 0 0 0 1em;
  margin: 0 0 1.375;
  border-left: 4px solid #14517d; }
  blockquote p {
    margin-bottom: 0; }
  blockquote small {
    display: block;
    line-height: 1.375;
    color: #333333; }
    blockquote small:before {
      content: '\2014 \00A0'; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ""; }

address {
  display: block;
  margin-bottom: 1.375;
  font-style: normal;
  line-height: 1.375; }

/* Global Styles ================================================================================ */
body {
  background: #e6e6e6;
  margin: 0 auto;
  color: #333333;
  font-family: "source-sans-pro", source-sans-pro, sans-serif;
  font-size: 100%;
  line-height: 1.375;
  font-style: normal;
  font-weight: normal;
  font-weight: 400;
  text-shadow: 0 1px 1px white; }

.center {
  margin: 0 auto;
  padding: 0px 10px;
  width: 600px; }

[role="main"] {
  margin: 0 auto;
  padding: 80px 10px 50px 10px;
  width: 600px; }
  [role="main"] *:first-child {
    margin-top: 0; }
  [role="main"] img {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 8px; }

p.first {
  padding-top: 24px; }

/* Header ======================================================================================= */
[role="banner"] {
  background: #14517d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 620px;
  padding: 2.5em 0 0.9em 0;
  width: 100%; }

.logo {
  margin: 0; }
  .logo a {
    color: white;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    margin: 0px !important;
    text-decoration: none;
    text-shadow: 0 1px 0 #061825; }
    .logo a:hover {
      text-shadow: 0 2px 0 #061825;
      text-decoration: none;
      -webkit-transform: translate3d(0px, -1px, 0px);
      -moz-transform: translate3d(0px, -1px, 0px);
      -ms-transform: translate3d(0px, -1px, 0px);
      -o-transform: translate3d(0px, -1px, 0px);
      transform: translate3d(0px, -1px, 0px); }
    .logo a:active {
      text-shadow: 0 1px 0 #061825;
      text-decoration: none;
      -webkit-transform: translate3d(0px, 0px, 0px);
      -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate3d(0px, 0px, 0px);
      transform: translate3d(0px, 0px, 0px); }

nav.global {
  zoom: 1;
  display: block;
  font-size: 20px;
  margin: 0.9em 0 0 -0.6em; }
  nav.global:before, nav.global:after {
    content: "";
    display: table; }
  nav.global:after {
    clear: both; }
  nav.global a {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: white;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 1em;
    padding: 0.1em 0.6em 0 0.6em;
    text-decoration: none;
    text-shadow: 0 1px 0 #061825;
    -webkit-transition: background-color, 0.25s;
    -moz-transition: background-color, 0.25s;
    -ms-transition: background-color, 0.25s;
    -o-transition: background-color, 0.25s;
    transition: background-color, 0.25s; }
    nav.global a:hover {
      background: #1b6da9;
      -webkit-box-shadow: inset 0 1px 0 0 #061825;
      box-shadow: inset 0 1px 0 0 #061825; }
    nav.global a:active {
      -webkit-box-shadow: inset 0 2px 1px 0 #061825;
      box-shadow: inset 0 2px 1px 0 #061825; }

body.portfolio a.portfolio-nav,
body.experience a.experience-nav,
body.blog a.blog-nav,
body.links a.links-nav {
  background: #186297;
  -webkit-box-shadow: inset 0 1px 0 0 #061825;
  box-shadow: inset 0 1px 0 0 #061825; }

body.portfolio a.portfolio-nav:hover,
body.experience a.experience-nav:hover,
body.blog a.blog-nav:hover,
body.links a.links-nav:hover {
  background: #1b6da9; }

/* Home Page ==================================================================================== */
body.home [role="main"] {
  background: url(../images/home-page-bg.png) no-repeat 382px 30px;
  padding: 300px 10px 100px 10px; }

.supporting-links {
  list-style-type: none; }
  .supporting-links li a {
    background: #14517d;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: white;
    display: block;
    font-size: 20px;
    height: 1.5em;
    line-height: 1.5em;
    margin-right: 20px;
    padding: 0.1em 1em 0 1em;
    text-shadow: 0px 1px #061825;
    text-decoration: none;
    -webkit-transition: background-color, 0.25s;
    -moz-transition: background-color, 0.25s;
    -ms-transition: background-color, 0.25s;
    -o-transition: background-color, 0.25s;
    transition: background-color, 0.25s;
    float: left; }
    .supporting-links li a:hover {
      background: #1b6da9;
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      -webkit-transform: translate3d(0px, -1px, 0px);
      -moz-transform: translate3d(0px, -1px, 0px);
      -ms-transform: translate3d(0px, -1px, 0px);
      -o-transform: translate3d(0px, -1px, 0px);
      transform: translate3d(0px, -1px, 0px); }
    .supporting-links li a:active {
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      -webkit-transform: translate3d(0px, 0px, 0px);
      -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate3d(0px, 0px, 0px);
      transform: translate3d(0px, 0px, 0px); }

/* Resume ======================================================================================= */
body.resume ul {
  list-style-type: none;
  margin: 0 0 1.375em 0;
  padding: 0; }

/* Portfolio Page =============================================================================== */
ul.portfolio-links {
  list-style-type: none; }
  ul.portfolio-links a {
    background: #14517d;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: white;
    display: block;
    font-size: 20px;
    height: 1.5em;
    line-height: 1.5em;
    margin-right: 20px;
    padding: 0.1em 1em 0 1em;
    text-shadow: 0px 1px #061825;
    text-decoration: none;
    -webkit-transition: background-color, 0.25s;
    -moz-transition: background-color, 0.25s;
    -ms-transition: background-color, 0.25s;
    -o-transition: background-color, 0.25s;
    transition: background-color, 0.25s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 6.875em;
    margin: 0 0 1.375em 0;
    padding: 5px; }
    ul.portfolio-links a:hover {
      background: #1b6da9;
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      -webkit-transform: translate3d(0px, -1px, 0px);
      -moz-transform: translate3d(0px, -1px, 0px);
      -ms-transform: translate3d(0px, -1px, 0px);
      -o-transform: translate3d(0px, -1px, 0px);
      transform: translate3d(0px, -1px, 0px); }
    ul.portfolio-links a:active {
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      -webkit-transform: translate3d(0px, 0px, 0px);
      -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate3d(0px, 0px, 0px);
      transform: translate3d(0px, 0px, 0px); }
    ul.portfolio-links a img {
      margin: 0;
      padding: 0; }
    ul.portfolio-links a span {
      position: relative;
      top: -7px; }

/* Footer ======================================================================================= */
[role="contentinfo"] {
  border-top: 1px solid #14517d;
  color: gray;
  font-size: 0.85em;
  line-height: 2;
  height: 2.75em;
  margin: 0 auto;
  text-align: center;
  width: 600px; }
