article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:hover, a:active {
  outline: 0; }

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button, input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* ========== Variables ========== */
/* ========== Base Extends ========== */
.button {
  background: #14517d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  color: white;
  display: block;
  font-size: 20px;
  height: 36px;
  line-height: 36px;
  margin-right: 20px;
  padding: 0px 15px;
  text-shadow: 0px 1px black;
  text-decoration: none;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
  .button:hover {
    background: #1b6da9;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px); }
  .button:active {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

/* ========== Clear Fix ========== */
/* For modern browsers */
.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1; }

/* ========== Global styles ========== */
body {
  background: white;
  color: #333333;
  font: 16px/24px ff-meta-serif-web-pro, georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  text-shadow: 0 1px 1px #dbdbdb; }

.center {
  margin: 0 auto;
  padding: 0px 10px;
  width: 600px; }

section {
  margin: 0 auto;
  padding: 80px 0 50px 0;
  width: 600px; }

img {
  border: none; }

a {
  color: #14517d;
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  color: #14517d;
  font-weight: 400;
  margin: 0;
  padding: 0; }

h1, h2 {
  font-size: 48px;
  margin-bottom: 30px; }

h3 {
  font-size: 24px;
  margin-bottom: 8px; }
  h3 a {
    text-decoration: none; }
  h3 a:hover {
    text-decoration: underline; }

h4 {
  font-size: 16px;
  color: black;
  font-weight: 700; }

p {
  margin: 0 0 24px 0;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }

p.first {
  padding-top: 24px; }

section img {
  padding-bottom: 8px; }

/* ========== Header ========== */
header {
  background: #14517d;
  padding: 30px 0 16px 0;
  width: 100%; }
  header div.logo a {
    background: url("../images/logo.png") no-repeat left top;
    display: block;
    height: 71px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -9999px;
    width: 600px; }
    header div.logo a:hover {
      background: url("../images/logo.png") no-repeat left bottom; }
    header div.logo a:active {
      background: url("../images/logo.png") no-repeat left top; }
  header nav {
    display: block;
    margin: 0 auto;
    padding-top: 7px;
    width: 600px; }
    header nav ul {
      margin: 0 0 0 -10px !important;
      padding: 0; }
    header nav li {
      display: block;
      float: left;
      font-size: 20px;
      margin-right: 20px;
      text-shadow: 0 1px 0px black; }
      header nav li a {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        color: white;
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        text-decoration: none;
        -webkit-transition-property: background-color;
        -moz-transition-property: background-color;
        -ms-transition-property: background-color;
        -o-transition-property: background-color;
        transition-property: background-color;
        -webkit-transition-duration: 0.25s;
        -moz-transition-duration: 0.25s;
        -ms-transition-duration: 0.25s;
        -o-transition-duration: 0.25s;
        transition-duration: 0.25s;
        -webkit-transition-timing-function: ease-out;
        -moz-transition-timing-function: ease-out;
        -ms-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        -webkit-transition-delay: 0;
        -moz-transition-delay: 0;
        -ms-transition-delay: 0;
        -o-transition-delay: 0;
        transition-delay: 0; }
        header nav li a:hover {
          background: #1b6da9;
          -webkit-box-shadow: inset 0 1px 0 0 #0d3551;
          -moz-box-shadow: inset 0 1px 0 0 #0d3551;
          -ms-box-shadow: inset 0 1px 0 0 #0d3551;
          -o-box-shadow: inset 0 1px 0 0 #0d3551;
          box-shadow: inset 0 1px 0 0 #0d3551; }
        header nav li a:active {
          -webkit-box-shadow: inset 0 2px 1px 0 #0d3551;
          -moz-box-shadow: inset 0 2px 1px 0 #0d3551;
          -ms-box-shadow: inset 0 2px 1px 0 #0d3551;
          -o-box-shadow: inset 0 2px 1px 0 #0d3551;
          box-shadow: inset 0 2px 1px 0 #0d3551; }

body.portfolio a.portfolio-nav,
body.resume a.resume-nav,
body.links a.links-nav {
  background: #186297;
  -webkit-box-shadow: inset 0 1px 0 0 #0d3551;
  -moz-box-shadow: inset 0 1px 0 0 #0d3551;
  -ms-box-shadow: inset 0 1px 0 0 #0d3551;
  -o-box-shadow: inset 0 1px 0 0 #0d3551;
  box-shadow: inset 0 1px 0 0 #0d3551; }

body.portfolio a.portfolio-nav:hover,
body.resume a.resume-nav:hover,
body.links a.links-nav:hover {
  background: #1b6da9; }

/* ========== Home page ========== */
section.home-page {
  background: url(../images/home-page-bg.jpg) no-repeat right 20px;
  padding: 300px 0 100px 0; }
  section.home-page .button {
    float: left; }

/* ========== Resume page ========== */
body.resume ul {
  list-style-type: none;
  margin: 0 0 24px 0;
  padding: 0; }

/* ========== Portfolio page ========== */
a.project-thumbnail {
  height: 132px;
  margin: 0 0 24px 0;
  padding: 5px;
  text-decoration: none; }
  a.project-thumbnail img {
    margin: 0;
    padding: 0; }
  a.project-thumbnail p {
    margin: 0;
    padding: 0; }
  a.project-thumbnail h3 {
    color: white;
    font-size: 20px;
    line-height: 20px;
    margin-top: 8px; }

/* ========== Footer ========== */
footer {
  border-top: 1px solid #14517d;
  color: #7f7f7f;
  display: block;
  font-size: 12px;
  height: 34px;
  margin: 0 auto;
  text-align: center;
  width: 600px; }
