@charset "UTF-8";
* {
	margin:0;
	padding:0;
}
body {
	background: #cae8f9 url(../images/CTW-narrowBG.png) repeat-y center top;
	font: 16px/25px Arial, serif;
	margin: 0px auto;
	height: 100%;
}
#container {
	width: 450px;
	height: 100%;
	display: block;
	margin: 0px auto;
}
#header {
	margin: 0 auto;
	width: 450px;
	height: 125px;
	display: block;
	background: url(../images/CTW-header.png) no-repeat left top;
	text-indent: -9999px;
}
#header a {
	display: block;
	width: 450px;
	height: 125px;
}
#content {
	position: relative;
}
h2 {
	display: block;
	width: 100%;
	height: 36px;
	background: url(../images/CTW-h2-BG.png) repeat-x;
	font: bold 20px/36px Arial, serif;
	color: #FFFFFF;
	text-indent: 20px;
}
a#leftArrow {
	position: absolute;
	display: block;
	width: 30px;
	height: 150px;
	background: url(../images/CTW-leftArrow.png) no-repeat;
	top: 150px;
	left: 5px;
}
a#leftArrow:active {
	background: url(../images/CTW-leftArrow-active.png) no-repeat;
}
a#rightArrow {
	position: absolute;
	display: block;
	width: 30px;
	height: 150px;
	background: url(../images/CTW-rightArrow.png) no-repeat;
	top: 150px;
	right: 5px;
}
a#rightArrow:active {
	background: url(../images/CTW-rightArrow-active.png) no-repeat;
}
.project img {
	margin: 0 auto;
	display: block;
}
.project {
	width: 410px;
	display: block;
	padding: 0px 20px 20px 20px;
}
.project img {
	margin-bottom: 20px;
}
.leadline1 {
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0px 0px 0px;
	line-height: 13px;
}
.leadline2 {
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0px 0px 0px;
	line-height: 16px;
	color: #D1005D;
}
p {
	font-size: 12px;
	line-height: 18px;
	margin: 0px 0px 10px 0px;
	text-align: left;
}
.intro {
	padding: 30px 40px 0px 0px;
}
em {
	color: #D1005D;
}
.project .marketingIntro {
	margin-bottom: 0px;
}