<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} : Steve Hickey</title>
  <meta name="author" content="Steve Hickey" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:300,300italic,700,700italic|Fira+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/build/css/application.css" />
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="{{ page.area }}">

<header class="global-banner" role="banner">
  <div class="container">
    <h1 class="site-name"><a href="/">Steve Hickey</a></h1>
    <nav class="global-nav" role="navigation">
      <ul>
        <li><a href="/work" class="work-nav">Work</a></li>
        <li><a href="/experience" class="experience-nav">Experience</a></li>
        <li><a href="/blog" class="writing-nav">Writing</a></li>
        <li><a href="/speaking" class="speaking-nav">Speaking</a></li>
        <li><a href="/podcast" class="podcast-nav">Podcast</a></li>
      </ul>
    </nav>
  </div><!-- end of div.container -->
</header><!-- end of header.global-banner -->

<main class="main-content" role="main">
{{ content }}
</main><!-- end of main.main-content -->

<footer class="global-footer" role="contentinfo">
  <div class="container">
    <p>&copy; 2016 Steve Hickey. All work is protected by <a href="http://www.youtube.com/watch?feature=player_detailpage&v=TO5wryDdEI0#t=18s" target="_blank">hungry raptors</a>. Don't steal my stuff.</p>
  </div><!-- end of div.container -->
</footer><!-- end of footer.global-footer -->

<script>
  var _gaq=[['_setAccount','UA-20633683-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
