<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>stevehickeydesign.com : {{ page.title }}</title>
  <meta name="author" content="Steve Hickey" />
  <meta name="keywords" content="steve hickey, graphic designer, boston, freelance, logo and identity design, branding, typography, type design, web design, development, layout, HTML email, coding, publication, book design, layout" />
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="stylesheets/application.css" />
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script type="text/javascript" src="http://use.typekit.com/ssj0eha.js"></script>
  <script type="text/javascript">html5.shivMethods = false; try{Typekit.load();}catch(e){}</script>
</head>
<body class="{{ page.area }}">

<header>
  <div class="logo"><a href="/">steve hickey design</a></div>
  <nav>
    <ul class="cf">
      <li><a href="portfolio.html" class="portfolio-nav">portfolio</a></li>
      <li><a href="resume.html" class="resume-nav">r&eacute;sum&eacute;</a></li>
      <li><a href="links.html" class="links-nav">links</a></li>
    </ul>
  </nav>
</header>

{{ content }}

<footer>
  &copy; 2012 Steve Hickey. All work is protected by <a href="#" id="raptorize">hungry raptors</a>. Don't steal my stuff.
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="javascripts/jquery-1.7.2.min.js"><\/script>')</script>
<script src="javascripts/plugins.js"></script>
<script src="javascripts/scripts.js"></script>
<script>
  var _gaq=[['_setAccount','UA-20633683-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
