---
layout: default
---

    <article>
      <header class="page-header">
        <div class="container">
          <h1 class="page-title">{{ page.title }}</h1>
          <p>{{ page.date | date: "%B %d, %Y" }}</p>
          {% if page.lede %}
          <p>{{ page.lede }}</p>
          {% endif %}
        </div><!-- end of .container -->
      </header><!-- end of .article-header -->
      <div class="page-content">
        <div class="container">
          {% if page.external-url %}
          <p><em>The original text of this article can be found at: <br><a href="{{ page.external-url }}">{{ page.external-url }}</a></em></p>
          {% endif %}
          {{ content }}
        </div><!-- end of .container -->
      </div><!-- end of .article-content -->
    </article>