---
layout: default
---

    <article>
      <header class="page-header">
        <div class="container">
          <h1 class="page-title">{{ page.title }}</h1>
          <p>{{ page.date | date: "%B %d, %Y" }}</p>
        </div><!-- end of .container -->
      </header><!-- end of .article-header -->
      <div class="page-content">
        <div class="container">
          {% if page.external-url %}
          <p><em>This article was originally posted at <a href="{{ page.external-url }}">{{ page.external-source }}</a>.</em></p>
          {% endif %}
          {{ content }}
        </div><!-- end of .container -->
      </div><!-- end of .article-content -->
    </article>